<p id="notice"><%= notice %></p>

<h1>Listing Fb Pages</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Page name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fb_pages.each do |fb_page| %>
      <tr>
        <td><%= fb_page.page_id %></td>
        <td><%= fb_page.page_name %></td>
        <td><%= link_to 'Show', fb_page %></td>
        <td><%= link_to 'Snapshot', take_fb_snapshot(fb_page) %></td>
        <td><%= link_to 'Chart', show_fb_chart(fb_page) %></td>
        <td><%= link_to 'Edit', edit_fb_page_path(fb_page) %></td>
        <td><%= link_to 'Destroy', fb_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fb page', new_fb_page_path %>
