<p id="notice"><%= notice %></p>

<h1>Listing Twitter Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Twitter</th>
      <th>Display name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_accounts.each do |twitter_account| %>
      <tr>
        <td><%= twitter_account.username %></td>
        <td><%= twitter_account.twitter_id %></td>
        <td><%= twitter_account.display_name %></td>
        <td><%= link_to 'Show', twitter_account %></td>
        <td><%= link_to 'Snapshot', take_twitter_snapshot(twitter_account) %></td>
        <td><%= link_to 'Edit', edit_twitter_account_path(twitter_account) %></td>
        <td><%= link_to 'Destroy', twitter_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitter account', new_twitter_account_path %>
