<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @twitter_account.username %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @twitter_account.twitter_id %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @twitter_account.display_name %>
</p>

<hr>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Followers</th>
      <th>Following</th>
      <th>Tweets</th>
      <th>Likes</th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_account.twitter_account_snapshots.each do |snapshot| %>
      <tr>
        <td><%= snapshot.snapshot_date.to_s %></td>
        <td><%= snapshot.followers_count.to_s %></td>
        <td><%= snapshot.following_count.to_s %></td>
        <td><%= snapshot.tweets.to_s %></td>
        <td><%= snapshot.like_count.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'Back', twitter_accounts_path %>
