<%= form_for(@api_call_log) do |f| %>
  <% if @api_call_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_call_log.errors.count, "error") %> prohibited this api_call_log from being saved:</h2>

      <ul>
      <% @api_call_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :call_description %><br>
    <%= f.text_field :call_description %>
  </div>
  <div class="field">
    <%= f.label :call_date_time %><br>
    <%= f.datetime_select :call_date_time %>
  </div>
  <div class="field">
    <%= f.label :successful %><br>
    <%= f.check_box :successful %>
  </div>
  <div class="field">
    <%= f.label :end_point_path %><br>
    <%= f.text_field :end_point_path %>
  </div>
  <div class="field">
    <%= f.label :human_readable_id %><br>
    <%= f.text_field :human_readable_id %>
  </div>
  <div class="field">
    <%= f.label :static_id %><br>
    <%= f.text_field :static_id %>
  </div>
  <div class="field">
    <%= f.label :records_inserted %><br>
    <%= f.number_field :records_inserted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
