<p id="notice"><%= notice %></p>

<p>
  <strong>Call description:</strong>
  <%= @api_call_log.call_description %>
</p>

<p>
  <strong>Call date time:</strong>
  <%= @api_call_log.call_date_time %>
</p>

<p>
  <strong>Successful:</strong>
  <%= @api_call_log.successful %>
</p>

<p>
  <strong>End point path:</strong>
  <%= @api_call_log.end_point_path %>
</p>

<p>
  <strong>Human readable:</strong>
  <%= @api_call_log.human_readable_id %>
</p>

<p>
  <strong>Static:</strong>
  <%= @api_call_log.static_id %>
</p>

<p>
  <strong>Records inserted:</strong>
  <%= @api_call_log.records_inserted %>
</p>

<%= link_to 'Edit', edit_api_call_log_path(@api_call_log) %> |
<%= link_to 'Back', api_call_logs_path %>
